	<ul>
		<li><a href="{{ path('app_home')}}">Accueil</a></li>
		<li><a href="{{ path('app_vehicule')}}">Véhicule</a></li>
		<li><a href="{{ path('app_personne_show')}}">Personne</a></li>
		<li><a href="{{ path('app_adresse_show')}}">Adresse</a></li>
		<li><a href="{{ path('app_sport_index')}}">Sport</a></li>
		<li><a href="{{ path('app_calcul', { op: 'plus', var1: 10, var2: 5})}}">Calcul</a></li>
		<li><a href="{{ path('app_logout')}}">Déconnexion</a></li>
	</ul>
